.mainProjectThree{
	background: rgb(0,163,37);
background: linear-gradient(90deg, rgba(0,163,37,1) 0%, rgba(107,51,0,1) 35%, rgba(122,68,3,1) 63%, rgba(0,79,31,1) 100%);
background-size: 400% 400%;	
animation: gradient 15s ease infinite;
    height: 98vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.featured{
	display: flex;
}