body{
    background-color: black;

}

.main{
    background-color: #202020;
    height: 100vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.featured{
	display: flex;
}

@media screen and (max-width: 600px) {
	.featured{
		flex-direction: column;
		align-items: center;
}

	
}