.navMain{
    
    color: whitesmoke;
    height: 10vh;
    display: flex;
    background-color: rgb(0,0,0,0.2);
}

.navMain *{
    vertical-align: bottom;
    margin-left: 1vw;
}

h1{
    font-size: 5vh;
    opacity: 0.9;
    
}

.navMain h1{
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
}

.port{
    padding-top: 3vh;
    font-size: 2vh;
}