.rightSide{
    width: 30%;
    vertical-align: center;
    height: 100%;
    color: white;
    opacity: 1;
    text-align: center;
    margin-top: 5vh;
}

img{
    height: auto;
    width: 70%;
    align-self: center;
}

h3{
    color: white;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.ytube{
    animation: wiggle 1.5s infinite;
}

