.rightSide{
    width: 30%;
    vertical-align: center;
    height: 100%;
    color: white;
    opacity: 1;
    text-align: center;
    margin-top: 5vh;
}

img{
    height: auto;
    width: 70%;
    align-self: center;
}

h3{
    color: white;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.linked{
    animation: wiggle 1.5s infinite;
}

@media screen and (max-width: 700px){
    .projectFea button{
        font-size: 50%;
    }
    img{
        width: 200px;
        height: 200px;
        text-align: center;
        align-self: center;
    }
    .rightSide{
        width: 100%;
    }

}