.mainProjectTwo{
	background-image: linear-gradient(to right top, #8BC6EC, #FFCC70, #FFCC70, #00DBDE, #FFCC70);
	background-size: 400% 400%;
	animation: gradient 10s infinite;

	
	
    height: 100vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.featured{
	display: flex;
}