.mainProjectFive{
	background: rgb(0,158,73);
background: linear-gradient(90deg, rgba(0,158,73,1) 0%, rgba(0,87,5,1) 35%, rgba(54,255,0,1) 63%, rgba(2,10,0,1) 100%);
background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 98vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.featured{
	display: flex;
}