.rightSide{
    width: 30%;
    vertical-align: center;
    height: 100%;
    color: white;
    opacity: 1;
    text-align: center;
    margin-top: 5vh;
}

.projectFea{
    display: flex;
    flex-direction: column;
    text-align: center;
}



.projectFea button{
    background-color: black;
    color: white;
    width: 100%;
    align-self: center;
    font-size: 100%;
    margin-top: 0.5vh;
    cursor: pointer;
    border-radius: 1vw;
}

.projectFea button:hover{
    transform: scale(1.2);
}

.resumeImg{
    animation: wiggle 1.5s infinite;
}


.resumeImg img{
    height: auto;
    width: 40%;
    align-self: center;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}




@media screen and (max-width: 700px){
    .projectFea button{
        font-size: 50%;
    }

}

@media screen and (max-width: 700px){
    .projectFea button{
        font-size: 50%;
    }
    .iframeImg img{
        width: 200px;
        height: 200px;
    }

}